<div class="movie-filter-container">
  <div class="filter">
    <div class="filter-label">
      Rating
    </div>
    <div class="filter-control">
      <ng5-slider [(value)]="movieRatingMinValue" [(highValue)]="movieRatingMaxValue" [options]="movieRatingSliderOptions" (userChangeEnd)="onMovieRatingSliderUserChangeEnd($event)"></ng5-slider>
    </div>
  </div>
</div>
<ngb-pagination [(page)]="currentPage" *ngIf="true"
                [pageSize]="pageSize"
                [collectionSize]="totalNumberOfResults"
                [maxSize]="nrOfPagesToDisplay">
</ngb-pagination>
<div class="movie-card-container">
  <div app-movie-card [movie]="movie" class="movie-card" *ngFor="let movie of movies">    
  </div>
</div>
<ngb-pagination [(page)]="currentPage" *ngIf="true"
                [pageSize]="pageSize"
                [collectionSize]="totalNumberOfResults"
                [maxSize]="nrOfPagesToDisplay"
                >
</ngb-pagination>
